clusterName: grant-tam-teleport.gvteleport.com

chartMode: standalone

enterprise: true

persistence:
  enabled: false

acme: true
acmeEmail: grant.voss@goteleport.com

proxyListenerMode: multiplex

auth:
  teleportConfig:
    teleport:
      log:
        output: stderr
        severity: INFO
      storage:
        type: postgresql
        conn_string: "postgresql://teleport:{{ db_password }}@{{ rds_address }}:5432/teleport_backend?sslmode=require&pool_max_conns=20"
        audit_events_uri:
          - "postgresql://teleport:{{ db_password }}@{{ rds_address }}:5432/teleport_audit?sslmode=require"
        audit_sessions_uri: "s3://{{ sessions_bucket }}/sessions?region=us-west-2"

proxy:
  teleportConfig:
    teleport:
      log:
        output: stderr
        severity: INFO
    proxy_service:
      https_keypairs_reload_interval: 12h

highAvailability:
  replicaCount: 1
  requireAntiAffinity: false

service:
  spec:
    externalTrafficPolicy: Local
    allocateLoadBalancerNodePorts: true
  ports:
    - name: tls
      port: 443
      targetPort: 3080
      protocol: TCP
    - name: diag
      port: 3000
      targetPort: 3000
      protocol: TCP

authentication:
  type: local
  localAuth: true
  secondFactor: "otp"
