kind: role
version: v7
metadata:
  name: okta_ssh_root
  description: "SSH access to team-labeled nodes with sudo/root elevation"
spec:
  allow:
    logins:
      - ubuntu
      - root
    node_labels:
      team: "{{internal.team}}"
    host_sudoers:
      - "ubuntu ALL=(ALL) NOPASSWD: ALL"
  deny: {}
  options:
    max_session_ttl: 4h
    forward_agent: false
    port_forwarding: false
    enhanced_recording:
      - command
      - network
    permit_x11_forwarding: false
    lock: best_effort
    request_access: optional
